.Admin-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.maincontent-layout {
  width: 85%;
  justify-content: center;
  align-items: center;
  /* margin: 2px solid red; */
}
.student-sidebar {
  width: 15%;
  background-color: #e3f2ee;
   display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.student-logo-name img {
  width: 30px;
  height: 30px;
}
.student-logo-name h6 {
  font-size: 14px;
}
.student-logo-name {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  margin-top: -1px;
  /* border: 2px solid green; */
  padding: 0px;
}
.student-adjustment {
  width: 97%;
  margin-left: 5%;
}
.line {
  margin-bottom: 25px;
}
.admin-links a {
  color: #07453e;
  text-decoration: none;
  font-size: 14px;
  padding: 7px 4px;
  display: flex;
  flex-direction: column;
  /* margin: 0px; */
  /* border: 2px solid red; */
}
.subtitle-head {
  /* margin-bottom: 20px; */
  line-height: 18px;
}
.subtitle-head p {
  margin: 2px;
  font-size: 9.5px;
  color: #122349;
}
.line-two {
  margin: 0px;
}

.Topbar-content {
  width: 100%;
  margin-top: -7px;
}
.topbar-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.Searchbtn {
  font-size: 11.5px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 6px 11px;
  color: #6b7280;
  background: #fff;
  box-sizing: border-box;
  /* margin-top: -10px; */
  width: 400px;
}


.sidebar-bottom{
  margin-top: auto;
}