.aspirant-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.aspirant-maincontent-layout {
  width: 85%;
  justify-content: center;
  align-items: center;
  background: #fafaf8;
}
.aspirant-sidebar {
  width: 15%;
  background-color: #f1ecfc;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  min-height: 100vh;
}

.aspirant-logo-name img {
  width: 30px;
  height: 30px;
}
.aspirant-logo-name h6 {
  font-size: 14px;
}
.aspirant-logo-name {
  display: flex;
  /* justify-content: center; */
  align-items: center;

  gap: 10px;
  margin: 0px;
  /* border: 2px solid green; */
  padding: 0px;
}
.aspirantsidebar-adjustment {
  width: 97%;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  margin-left: 5%;
}
.Structure {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Structure a {
  color: #3b2575;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 12px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.sidebar-bottom {
  margin-top: auto;
}



.aspirant-line{
   margin-top: -21px;
   margin-bottom: 20px;

}

/* 
.admin-links a {
  color: #1f3a78;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 12px;
  display: flex;
  flex-direction: column;
}
.Topbar-content {
  width: 100%;

  margin-top: -7px;
}
.topbar-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;  
  margin: 0 auto;
}
.Searchbtn {
  width: 28%;
  height: 30px;
  border-radius: 5px;
} */
